:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #5f7bab9c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}