.controls {
    position: absolute;
    top: 0;
    left: 0;
}

.control {
    cursor: pointer;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0.5rem 0.35rem;
    
    &:first-child {
        margin-left: 1rem;
    }

    &.-close {
        background: #fd4d4d;
    }
    &.-close:hover {
        background: #fd4d4da9;
    }
    &.-minimize {
        background: #ffd540;
    }
    &.-minimize:hover {
        background: #ffd540a9;
    }
    &.-maximize {
        background: #35cd00;
    }
    &.-maximize:hover {
        background: #35cd00a9;
    }
}