:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #5f7bab9c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}

.relative {
    position: relative;
}

.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }
}

.h100 {
    height: 100vh;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;

    &__control {
        margin: 0.5rem 0.35rem;

        &:first-child {
            margin-left: 1rem;
        }
    }
}

.control {
    cursor: pointer;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;

    &--close {
        background: #fd4d4d;
    }
    &--close:hover {
        background: #fd4d4da9;
    }
    &--minimize {
        background: #ffd540;
    }
    &--minimize:hover {
        background: #ffd540a9;
    }
    &--maximize {
        background: #35cd00;
    }
    &--maximize:hover {
        background: #35cd00a9;
    }
}

.input {
    width: 100%;
    height: 6rem;
    background: none;
    font-size: 5.4rem;
    color: #f8f8f8;
    border: none;
}

.screen {
    width: inherit;
    height: 10rem;
    background: #585858;

    &__input {
        padding: 0 1rem;
        margin-top: 2rem;
        text-align: right;
        caret-color: transparent;
        -moz-appearance: textfield;
    }
}

.calc {
    width: 34rem;
    height: 46rem;
    border: 0.2rem solid rgb(97, 97, 97);
    border-radius: 1.5rem;
    background: gray;
    overflow: hidden;
}

.calc-body {
    width: 34rem;
    height: 36rem;

    .button {
        float: left;
        margin: 0;
    }
}

.button {
    font-weight: bold;
    font-size: 2.4rem;
    color: #f8f8f8;
    background: #cdcdcd;
    cursor: pointer;
    width: 8.5rem;
    height: 7.2rem;
    border: 1px solid rgba(0, 0, 0, 0.12);

    &--darkgray {
        background: #585858;
    }
    &--gray {
        background: #b5b5b5;
    }
    &--double-width {
        width: 17rem;
    }
}